name: Publish to crates.io

on:
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    if: github.event.pull_request.merged == true && startsWith(github.event.pull_request.head.ref, 'release/')

    environment: release
    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v4
    - uses: rust-lang/crates-io-auth-action@v1
      id: auth
    - run: cargo publish
      env:
        CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
